mixin swiper-slider(customerImage="/public/images/experiens/customer_1.svg", customerName='Edward Sann', customerPosition=' Head of Video editor at Netflix', quoteText='WavesCo was a great choice for our team for film production, the quality is amazingly great.')
  .experiens__customer
    img(src="/public/images/experiens/ri_double-quotes-r.svg", alt="Quote")
    p.experiens__customer-card-text= quoteText
    img(src=customerImage, alt=customerName)
    p.experiens__customer-card-title-text= customerName
    p.experiens__customer-card-subtitle-text= customerPosition
